<div class="bg">
    <h1>seccion aslkdjnas</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatem provident voluptatum nobis. Inventore, officia sit laborum temporibus commodi ab earum libero totam voluptas eum, quibusdam debitis? Aspernatur, repellat cumque?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In reprehenderit quos modi dolores, repudiandae voluptatum aperiam nihil voluptatem tempora consequatur cupiditate dolorum mollitia asperiores laboriosam, harum fuga veniam? Tempora, eaque?</p>
</div>


<style>
    .bg{
        background-color: blue;
    }
</style>