<div class="bg width">
    <h1>seccion aslkdjnas</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatem provident voluptatum nobis. Inventore, officia sit laborum temporibus commodi ab earum libero totam voluptas eum, quibusdam debitis? Aspernatur, repellat cumque?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In reprehenderit quos modi dolores, repudiandae voluptatum aperiam nihil voluptatem tempora consequatur cupiditate dolorum mollitia asperiores laboriosam, harum fuga veniam? Tempora, eaque?</p>
<button id="guardarseccion">guardar</button>
</div>


<style>
    .bg{
        background-color: blue;
    }
/* .container {
display: grid;
grid-template-columns: 40px 1fr 1fr 1fr 40px;
grid-template-rows: 25% 100px auto;
gap: .5rem .8rem;
justify-items: stretch;
} */
.width{
   /*  position: absolute; */
    /* display: grid; */
    width: 70rem;
    height: 500px;
    padding: 0px;
    margin: 20px;
    grid-column: 1;
    
    
}
</style>