
<div class="bg">
    <h1 >contenido tabla</h1>
<p class="bg2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsa dolore nam sunt reprehenderit consequatur porro, ullam dolorem harum cumque quas unde magni aut dicta inventore tempora at necessitatibus repudiandae?</p>
<button id="button">guardar

</div>
<style>
    .bg{
        position: relative;
        background-color: rebeccapurple;
        width: 100%;
        height: 300px;
    }
    .bg2{
        background-color: red;
    }
</style>